#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.customer {
  padding: 5px;
  font-size: 22px;
  border: solid 1px rgb(56, 56, 56);
  border-radius: 10px;
  margin-bottom: 15px;
}

.read-the-docs {
  color: #888;
}
